body {
    background-color: FloralWhite;
    font-family: 'Bad Script', sans-serif;
    font-size: 14pt;
    color: #503434;
    text-align: center;
}

h1 {
    font-size: 60pt;
    font-family: 'Amatic SC', sans-serif;
}

h2 {
    font-size: 33pt;
    font-family: 'Caveat', sans-serif;
}

h3 {
    font-size: 20pt;
}

p {
    font-size: 15pt;
    font-family: 'Dosis', sans-serif;
}
ul li{
    display: inline-block;
}
