body {
    background-color: FloralWhite;
    font-family: 'Bad Script', sans-serif;
    font-size: 14pt;
    color: #503434;
    text-align: center;
    height: 100%;
    min-height: 100%;
}

h1 {
    font-size: 60pt;
    font-family: 'Amatic SC', sans-serif;
    border-style: double;
    border-color: #aa3311;
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    display: inline-block;
}

h2 {
    font-size: 33pt;
    font-family: 'Caveat', sans-serif;
}

h3 {
    font-size: 30pt;
    font-family: 'Caveat', sans-serif;
}

p {
    font-size: 15pt;
    font-family: 'Dosis', sans-serif;
}

/* Set display to inline fixed the problem where the dots are at the very
   left side of the page. The dots don't show after this. */
ul {
    display: inline;
}

li {
    font-size: 18pt;
}

img {
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
}

div.menu li {
    float: left;
    list-style-type: none;
}

div.menu li a{
    font-size: 30pt;
    font-family: 'Amatic SC', sans-serif;
    color: #503434;
    text-decoration: none;
    padding: 14px 16px;
}

div.breed_menu a{
    font-size: 24pt;
    font-family: 'Amatic SC', sans-serif;
    color: #503434;
    text-decoration: none;
}

div.guide_menu a{
    color: #503434;
    text-decoration: none;
}

footer {
    font-size: 10pt;
    font-family: 'Dosis', sans-serif;
}
